@model ACE.Demo.Model.Investments.Investment
@using ACE.Actions
@{
    ViewBag.Title = "Index";
    ActionResponse response = TempData["ActionResponse"] as ActionResponse;
}
@if (response != null)
{
    <h2>
        @response.Message
    </h2>
}
@if (Model != null)
{
    if (Model.Status == ACE.Demo.Contracts.Enum.InvestmentStatus.Initial)
    {
        <p>
            投资已发起
        </p>
        using (Html.BeginForm("Pay", "Invest", FormMethod.Post))
        {
            @Html.Hidden("id", @Model.InvestmentId)
            <button type="submit" class="btn btn-default">支付</button>
        }

    }
    else if (Model.Status == ACE.Demo.Contracts.Enum.InvestmentStatus.Paied)
    {
        <p>
            投资已支付
        </p>
    }
}
