@model ACE.Demo.Web.Models.InvestViewModel
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "Invest", FormMethod.Post))
{
    <div class="form-group">
        <label for="AccountId">AccountIds</label>
        @Html.TextBoxFor(x => x.AccountId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="ProjectId">ProjectId</label>
        @Html.TextBoxFor(x => x.ProjectId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Amount">Amount</label>
        @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-default">投资</button>
}
