@model CQRS.Demo.Web.Models.InvestViewModel
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "Invest", FormMethod.Post))
{
    <p>
        <label>AccountId</label>
        @Html.TextBoxFor(x => x.AccountId)
    </p>
    <p>
        <label>ProjectId</label>
        @Html.TextBoxFor(x => x.ProjectId)
    </p>
    <p>
        <label>Amount</label>
        @Html.TextBoxFor(x => x.Amount)
    </p>
    <p>
        <input type="submit" value="投资" />
    </p>
}
