<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="EasyNetQ" version="0.51.0.0" targetFramework="net46" />
  <package id="EasyNetQ.DI.Autofac" version="0.50.12.407" targetFramework="net46" />
  <package id="RabbitMQ.Client" version="3.5.6" targetFramework="net46" />
</packages>