<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="ConsoleAppender" />
  </root>
  <logger name="message.logger">
    <level value="INFO"/>
    <appender-ref ref="messageLogAppender" />
  </logger>
  <logger name="exception.logger">
    <level value="DEBUG" />
    <appender-ref ref="exceptionAppender" />
  </logger>
  <logger name="debug.logger">
    <level value="DEBUG" />
    <appender-ref ref="debugAppender" />
  </logger>
  <appender name="messageLogAppender" type="log4net.Appender.RollingFileAppender,log4net">
    <threshold value="ALL" />
    <param name="File" value="logs/" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="'message'.yyyyMMdd.'log'" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d %p %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>
  <appender name="exceptionAppender" type="log4net.Appender.RollingFileAppender,log4net">
    <threshold value="ALL" />
    <param name="File" value="logs/" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="'exception'.yyyyMMdd.'log'" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d %p %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>
  <appender name="debugAppender" type="log4net.Appender.RollingFileAppender,log4net">
    <threshold value="ALL" />
    <param name="File" value="logs/" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="'debug'.yyyyMMdd.'log'" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d %p %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d %p %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>
</log4net>
